# Auto detect text files and perform LF normalization
* text=auto

# restrict CRLF on .anm/.obj/.tra/.cam
*.lua text eol=crlf linguist-language=Lua diff=sjis
*.obj text eol=crlf linguist-language=Lua diff=sjis
*.anm text eol=crlf linguist-language=Lua diff=sjis
*.scn text eol=crlf linguist-language=Lua diff=sjis
*.cam text eol=crlf linguist-language=Lua diff=sjis
*.tra text eol=crlf linguist-language=Lua diff=sjis
